# Server Configuration
PORT=3000
HOST=0.0.0.0
URL=http://localhost:3001
NODE_ENV=development
AI_API_SYSTEM_TOKEN=generate-api-key-for-internal-calls # Random string API key for system requests

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/irmin_ai

# AI Provider Configurations
GROQ_API_KEY=your-api-key
OPENAI_API_KEY=your-api-key
ANTHROPIC_API_KEY=your-api-key

# Irmin API
IRMIN_API_BASE_URL=https://irmin-development.up.railway.app
IRMIN_SYSTEM_TOKEN=core-api-system-token-here

# Langsmith
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your-api-key
LANGSMITH_PROJECT=my-custom-project

# Qdrant vector store
QDRANT_URL=http://localhost
QDRANT_PORT=6333
QDRANT_API_KEY=optional-api-key

# CORS Configuration
CORS_ORIGINS=https://console.irmin.co,https://api.irmin.co
CORS_CREDENTIALS=true

# Logging
LOG_LEVEL=info
SENTRY_DSN=https://your-sentry-dsn-url.de.sentry.io/1234
SENTRY_AUTH_TOKEN=your-sentry-auth-token

# Testing
TEST_IRMIN_AUTH_TOKEN=cred_123456789
TEST_WORKSPACE_SLUG=demo-workspace