@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default font styles */
html {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

/* Color palette and background patterns */
html {
  /* Irmin Color Palette */
  --irmin-black-100: 197 90% 83%;
  --irmin-black-200: 197 92% 62%;
  --irmin-black-300: 197 95% 42%;
  --irmin-black-400: 197 94% 24%;
  --irmin-black-500: 197 94% 6%; /* DEFAULT */
  --irmin-black-600: 197 100% 4%;
  --irmin-black-700: 197 100% 3%;
  --irmin-black-800: 197 100% 2%;
  --irmin-black-900: 197 100% 1%;

  --irmin-blue-100: 197 100% 90%;
  --irmin-blue-200: 197 65% 81%;
  --irmin-blue-300: 197 49% 68%;
  --irmin-blue-400: 197 29% 44%;
  --irmin-blue-500: 197 67% 27%; /* DEFAULT */
  --irmin-blue-600: 197 67% 20%;
  --irmin-blue-700: 197 67% 14%;
  --irmin-blue-800: 197 67% 10%;
  --irmin-blue-900: 197 67% 4%;

  --irmin-teal-100: 197 18% 90%;
  --irmin-teal-200: 197 18% 80%;
  --irmin-teal-300: 197 18% 70%;
  --irmin-teal-400: 197 18% 60%;
  --irmin-teal-500: 197 18% 50%; /* DEFAULT */
  --irmin-teal-600: 197 18% 40%;
  --irmin-teal-700: 197 18% 30%;
  --irmin-teal-800: 197 18% 20%;
  --irmin-teal-900: 197 18% 10%;

  --irmin-green-100: 137 20% 94%;
  --irmin-green-200: 137 20% 88%;
  --irmin-green-300: 137 20% 82%;
  --irmin-green-400: 137 20% 76%;
  --irmin-green-500: 137 20% 70%; /* DEFAULT */
  --irmin-green-600: 137 20% 60%;
  --irmin-green-700: 137 20% 45%;
  --irmin-green-800: 137 20% 35%;
  --irmin-green-900: 137 20% 20%;

  /* Base Theme Variables */
  --background: 0 0% 100%;
  --foreground: 193.33 69.23% 2.55%;

  --primary: 196.96 66.67% 27.06%;
  --primary-foreground: 200 24.32% 92.75%;

  --card: 210 20% 96%;
  --card-foreground: 197 98% 5%;

  --popover: 0 0% 100%;
  --popover-foreground: 193.33 69.23% 2.55%;

  --secondary: 197.14 25% 89.02%;
  --secondary-foreground: 0 0% 0%;

  --muted: 200 24.32% 92.75%;
  --muted-foreground: 0 0% 40%;

  --accent: 137 20% 60%;
  --accent-foreground: 140 3% 95%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 196.67 24.32% 85.49%;
  --input: 200 10.91% 78.43%;
  --ring: 196.96 66.67% 27.06%;

  --chart-1: 137.42 20.26% 70%;
  --chart-2: 136.15 20% 74.51%;
  --chart-3: 138 20% 80.39%;
  --chart-4: 137.65 20% 83.33%;
  --chart-5: 137.14 20.59% 86.67%;

  --radius: 0.5rem;

  /* Colors for Light Mode */
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  .pattern-bg {
    background-image: url('/ui-assets/elements/pattern-white.svg');
  }

  &.dark {
    /* Base Theme Variables in Dark mode */
    --background: 197 94% 6%;
    --foreground: 197.14 25% 89.02%;

    --primary: 196.96 66.67% 27.06%;
    --primary-foreground: 200 24.32% 92.75%;

    --card: 197 98% 10%;
    --card-foreground: 210 20% 96%;

    --popover: 197 100% 2%;
    --popover-foreground: 197.14 25% 89.02%;

    --secondary: 196.88 66.67% 9.41%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 137 20% 60%;
    --accent-foreground: 140 3% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 196.67 64.29% 5.49%;
    --input: 200 9.89% 17.84%;
    --ring: 196.96 66.67% 27.06%;

    --chart-1: 137.42 20.26% 70%;
    --chart-2: 136.15 12.62% 59.61%;
    --chart-3: 138 8.62% 45.49%;
    --chart-4: 137.65 8.63% 38.63%;
    --chart-5: 137.14 8.75% 31.37%;

    --radius: 0.5rem;

    /* Colors for Dark Mode */
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    .pattern-bg {
      background-image: url('/ui-assets/elements/pattern-dark.svg');
    }
  }
}

/* Hide scrollbar visual */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  ::-webkit-scrollbar {
    display: none; /* For Webkit-based browsers (Chrome, Safari and Opera) */
  }
}
.scrollbar-show {
  scrollbar-width: auto; /* Firefox */
  -ms-overflow-style: auto; /* IE and Edge */
  ::-webkit-scrollbar {
    display: auto; /* For Webkit-based browsers (Chrome, Safari and Opera) */
  }
}

/* Disable default browser styles */
input,
select,
textarea,
button,
option,
optgroup,
fieldset,
legend,
label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

/* Custom select chevron */
select {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-size: 0.7rem;
  background-position: right 0.7rem center;
}

/* Enable browser styles for checkboxes and radio buttons */
input[type='checkbox'],
input[type='radio'] {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}

/* ReactSelect styles and colors */
.react-select-container {
  .react-select__control {
    cursor: pointer;
    background-color: white;
    border-color: #e5e7eb;
    color: #01161e;
    box-shadow: none;
    border-radius: 0.5rem;
    font-size: 12px;
    line-height: 14px;
    .react-select__input-container {
      color: #01161e;
    }
    .react-select__single-value {
      color: #0d1e25;
    }
    &:hover {
      border-color: #eff6e0 !important;
    }
    &:focus,
    &.react-select__control--is-focused,
    &.react-select__control--menu-is-open {
      border-color: #aec3b0 !important;
    }
    .react-select__value-container {
      padding: 0.25rem 0.5rem;
    }
    .react-select__indicator-separator {
      display: none;
    }
    .react-select__placeholder {
      color: #c3c3c3;
    }
  }
  .react-select__menu {
    color: #01161e;
    background-color: white;
    border: 1px solid #e5e7eb;
    .react-select__option {
      cursor: pointer;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #01161e;
      background-color: white;
      &.react-select__option--is-focused {
        background-color: #e0dede;
      }
      &.react-select__option--is-selected {
        background-color: #cfcece;
      }
    }
  }
}
.dark {
  .react-select-container {
    .react-select__control {
      background-color: #01161e;
      border-color: #232323;
      color: white;
      .react-select__input-container {
        color: white;
      }
      .react-select__single-value {
        color: #cfcece;
      }
      &:hover {
        border-color: #323232 !important;
      }
      &:focus,
      &.react-select__control--is-focused,
      &.react-select__control--menu-is-open {
        border-color: #515151 !important;
      }
      .react-select__placeholder {
        color: #424242;
      }
    }
    .react-select__menu {
      color: white;
      background-color: #01161e;
      border: 1px solid #232323;
      .react-select__option {
        color: white;
        background-color: #01161e;
        &.react-select__option--is-focused {
          background-color: #072531;
        }
        &.react-select__option--is-selected {
          background-color: #0d1e25;
        }
      }
    }
  }
}

/* DataSheetGrid styles, https://react-datasheet-grid.netlify.app/docs/styling */
.dark .data-sheet-grid {
  --dsg-border-color: #12262f;
  --dsg-selection-border-color: #aec3b0;
  --dsg-header-text-color: #bbb2ae;
  --dsg-header-active-text-color: #fff;
  --dsg-cell-background-color: #01161e;
  --dsg-cell-disabled-background-color: #01161e;
  .dsg-container {
    color: white;
  }
}
.data-sheet-grid {
  font-size: 12px;
  --dsg-border-color: #e5e7eb;
  --dsg-selection-border-color: #aec3b0;
  --dsg-header-text-color: #444d51;
  --dsg-header-active-text-color: #124559;
  --dsg-cell-background-color: white;
  --dsg-cell-disabled-background-color: white;
  --dsg-corner-indicator-width: 10px;
  .dsg-container {
    height: 100% !important;
    color: #01161e;
  }
  .dsg-input {
    font-size: 12px;
  }
  .dsg-corner-indicator {
    opacity: 0.5;
  }
}

/* Code editor */
#code-editor {
  .cm-editor.cm-focused {
    outline: none;
  }
}

/* Markdown editor and viewer styles */
.mdxeditor,
.mdx-viewer {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222;
    margin-bottom: 0.5em;
    line-height: 1.25;
    letter-spacing: -0.05em;
    @media screen and (max-width: 768px) {
      margin-bottom: 0.25em;
      line-height: 1;
      letter-spacing: -0.05em;
    }
  }

  h1 {
    font-size: 2em;
    @media screen and (max-width: 768px) {
      font-size: 1.5em;
    }
  }

  h2 {
    font-size: 1.75em;
    @media screen and (max-width: 768px) {
      font-size: 1.25em;
    }
  }

  h3 {
    font-size: 1.5em;
    @media screen and (max-width: 768px) {
      font-size: 1em;
    }
  }

  h4 {
    font-size: 1.25em;
    @media screen and (max-width: 768px) {
      font-size: 0.9em;
    }
  }

  h5 {
    font-size: 1em;
    @media screen and (max-width: 768px) {
      font-size: 0.8em;
    }
  }

  h6 {
    font-size: 0.875em;
    @media screen and (max-width: 768px) {
      font-size: 0.7em;
    }
  }

  p {
    font-size: 1em;
    margin-bottom: 1em;
    @media screen and (max-width: 768px) {
      font-size: 0.8em;
      margin-bottom: 0.5em;
    }
  }

  a {
    color: #1a73e8;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul,
  ol {
    margin: 1em 0;
    padding-left: 2em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1em;
    color: #666;
    margin: 1em 0;
  }

  code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5;
    padding: 0.2em 0.4em;
    border-radius: 3px;
  }

  pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5;
    padding: 1em;
    overflow-x: auto;
    border-radius: 3px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
  }

  th {
    background-color: #f9f9f9;
  }
}
.dark .mdxeditor,
.dark .mdx-viewer {
  background-color: #01161e;
  color: #fff;

  .mdxeditor-toolbar {
    color: #01161e;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;
  }

  a {
    color: #1a73e8;
  }

  blockquote {
    border-left: 4px solid #666;
    color: #ccc;
  }

  code {
    background-color: #333;
  }

  pre {
    background-color: #333;
  }

  th {
    background-color: #333;
  }
}
.mdx-viewer {
  background-color: transparent !important;
}

/* ReactFlow styles */
.react-flow {
  background: transparent !important;
  .react-flow__node-input,
  .react-flow__node-default,
  .react-flow__node-output,
  .react-flow__node-group {
    width: auto !important;
  }
}
#repository-schema-chart .react-flow {
  .react-flow__node-input,
  .react-flow__node-default,
  .react-flow__node-output,
  .react-flow__node-group {
    padding: 0 !important;
  }
}

/* ReactDocViewer styles */
#react-doc-viewer {
  background: transparent;
  * {
    background: transparent;
  }
  #header-bar {
    display: none;
  }
}
