{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Core API for the Irmin data management platform",
        "title": "Irmin API",
        "termsOfService": "http://irmin.co/terms",
        "contact": {
            "name": "Irmin Team",
            "url": "https://irmin.co",
            "email": "hello@irmin.co"
        },
        "version": "1.0.0"
    },
    "host": "api.irmin.co",
    "basePath": "/api/v1",
    "paths": {
        "/connectors": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get a list of all available connectors in the system",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connectors"
                ],
                "summary": "List all connectors",
                "responses": {
                    "200": {
                        "description": "Connectors retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/irminmodels.Connector"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Register a new connector with the system (system authentication required)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connectors"
                ],
                "summary": "Register a new connector",
                "parameters": [
                    {
                        "description": "Connector registration parameters",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.ConnectorRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connector registered successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.Connector"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid request body",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - system authentication required",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/connectors/{connector_slug}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get details of a specific connector by its slug",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connectors"
                ],
                "summary": "Get connector details",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Connector slug",
                        "name": "connector_slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connector retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.Connector"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connector not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Delete an existing connector from the system (system authentication required)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connectors"
                ],
                "summary": "Delete connector",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Connector slug",
                        "name": "connector_slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connector deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - system authentication required",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connector not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Update an existing connector's information (system authentication required)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connectors"
                ],
                "summary": "Update connector",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Connector slug",
                        "name": "connector_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Connector update parameters",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.ConnectorRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connector updated successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.Connector"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid request body",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - system authentication required",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connector not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/connectors/{connector_slug}/config-fields/{type}": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the dynamic configuration fields for a specific connector and configuration type",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connectors"
                ],
                "summary": "Get connector configuration fields",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Connector slug",
                        "name": "connector_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Configuration type (details, settings)",
                        "name": "type",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Current configuration data",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.ConnectorConfigurationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration fields retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid request body or configuration type",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connector not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/connectors/{connector_slug}/validate-config": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Validate the configuration parameters for a specific connector",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connectors"
                ],
                "summary": "Validate connector configuration",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Connector slug",
                        "name": "connector_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Configuration data to validate",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.ConnectorConfigurationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration validation result",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid request body",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connector not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/credentials": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get all API tokens for the current authenticated user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "credentials"
                ],
                "summary": "List API tokens",
                "responses": {
                    "200": {
                        "description": "API tokens retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/irminmodels.APIToken"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create a new API token for the current authenticated user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "credentials"
                ],
                "summary": "Create API token",
                "parameters": [
                    {
                        "description": "API token creation parameters",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.CreateCredentialRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "API token created successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.APIToken"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid request body",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/credentials/{credential}": {
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete an API token by its ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "credentials"
                ],
                "summary": "Delete API token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API token ID (SQID)",
                        "name": "credential",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "API token deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid token ID",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - token does not belong to user or is hidden",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "API token not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/invites/my": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get all invites sent to the current authenticated user's email address",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "invites"
                ],
                "summary": "List my invites",
                "responses": {
                    "200": {
                        "description": "User invites retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/irminmodels.Invite"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/invites/{invite_id}/accept": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Accept an invite and join the workspace with the specified role",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "invites"
                ],
                "summary": "Accept invite",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Invite ID (SQID)",
                        "name": "invite_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invite accepted successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - user not allowed to accept this invite",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Invite not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/invites/{invite_id}/decline": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Decline an invite to join a workspace",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "invites"
                ],
                "summary": "Decline invite",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Invite ID (SQID)",
                        "name": "invite_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invite declined successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - user not allowed to decline this invite",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Invite not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/profile": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the current authenticated user's profile information",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "profile"
                ],
                "summary": "Get user profile",
                "responses": {
                    "200": {
                        "description": "User profile retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.User"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update the current authenticated user's profile information",
                "consumes": [
                    "multipart/form-data",
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "profile"
                ],
                "summary": "Update user profile",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User's first name",
                        "name": "firstName",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "User's last name",
                        "name": "lastName",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Primary email address",
                        "name": "primaryEmailAddress",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Primary phone number",
                        "name": "primaryPhoneNumber",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "Profile avatar image",
                        "name": "avatar",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.User"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid input data",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/roles": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get all available system roles that can be assigned to users",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "roles"
                ],
                "summary": "List system roles",
                "responses": {
                    "200": {
                        "description": "Roles retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/irminmodels.Role"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/swagger": {
            "get": {
                "description": "Interactive API documentation interface using Swagger UI",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "documentation"
                ],
                "summary": "Swagger UI interface",
                "responses": {
                    "200": {
                        "description": "Swagger UI HTML page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/swagger.json": {
            "get": {
                "description": "Retrieve the OpenAPI 3.0 specification in JSON format for this API",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "documentation"
                ],
                "summary": "Get Swagger JSON specification",
                "responses": {
                    "200": {
                        "description": "OpenAPI 3.0 specification in JSON format",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "404": {
                        "description": "Swagger specification file not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/system/sandbox-health": {
            "get": {
                "description": "Verify that the compute sandbox is available and functioning",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "system"
                ],
                "summary": "Check sandbox health",
                "responses": {
                    "200": {
                        "description": "Sandbox is healthy",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/system/schema-from-file": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Upload a file (CSV, JSON, Parquet, etc.) and get its schema structure",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "schema"
                ],
                "summary": "Generate schema from uploaded file",
                "parameters": [
                    {
                        "type": "file",
                        "description": "File to analyze (CSV, JSON, Parquet, Excel, Avro, ORC, etc.)",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File schema generated successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.ObjectSchema"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid file or missing file",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid system authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/system/webhook": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Handle webhook events from internal services (LakeFS, orchestrator dispatch events)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "system"
                ],
                "summary": "System webhook endpoint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Webhook type (lakefs, dispatch)",
                        "name": "type",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "Webhook payload (varies by type)",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Webhook processed successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid webhook type or payload",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid system authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/workspaces": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get all workspaces that the authenticated user is a member of",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "workspaces"
                ],
                "summary": "List user workspaces",
                "responses": {
                    "200": {
                        "description": "Workspaces retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/irminmodels.Workspace"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create a new workspace with default settings, policies, and tags (user becomes owner)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "workspaces"
                ],
                "summary": "Create workspace",
                "parameters": [
                    {
                        "description": "Workspace creation request",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.CreateWorkspaceRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Workspace created successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.Workspace"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid workspace data",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "409": {
                        "description": "Workspace slug already exists",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_slug}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get details of a specific workspace that the user has access to",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "workspaces"
                ],
                "summary": "Get workspace details",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace details retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.Workspace"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - user not a member of workspace",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Workspace not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete a workspace and all its data (only workspace owner can delete)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "workspaces"
                ],
                "summary": "Delete workspace",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - only workspace owner can delete",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Workspace not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update workspace properties (name, description) - slug cannot be changed",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "workspaces"
                ],
                "summary": "Update workspace",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Workspace update request",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.UpdateWorkspaceRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace updated successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.Workspace"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid workspace data",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - insufficient permissions",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Workspace not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_slug}/connections": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get all connections in the specified workspace that the user has permission to read",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connections"
                ],
                "summary": "List connections in workspace",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connections retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/irminmodels.Connection"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Workspace not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create a new connection in the specified workspace",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connections"
                ],
                "summary": "Create a new connection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Connection creation parameters",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.CreateConnectionRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Connection created successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.Connection"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid request body",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_slug}/connections/{connection_slug}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get details of a specific connection by its slug",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connections"
                ],
                "summary": "Get connection details",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Connection ID",
                        "name": "connection_slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connection retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.Connection"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connection not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete an existing connection from the workspace",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connections"
                ],
                "summary": "Delete connection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Connection ID",
                        "name": "connection_slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connection deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connection not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update an existing connection's details",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connections"
                ],
                "summary": "Update connection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Connection ID",
                        "name": "connection_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Connection update parameters",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.UpdateConnectionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connection updated successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.Connection"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid request body",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connection not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_slug}/connections/{connection_slug}/schema": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the schema information for a specific connection and operation method",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connections"
                ],
                "summary": "Get connection schema",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Connection ID",
                        "name": "connection_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "pull",
                        "description": "Operation method (pull, push)",
                        "name": "operation_method",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Path within the connection to get schema for, empty string means the root path",
                        "name": "path",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connection schema retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid query parameters",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connection not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_slug}/connections/{connection_slug}/test": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Test an existing connection using its stored credentials",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connections"
                ],
                "summary": "Test connection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Connection ID",
                        "name": "connection_slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connection tested successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.ConnectorConfigurationValidationResult"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connection not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_slug}/connections/{connection_slug}/transfer-ownership": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Transfer ownership of a connection to another user in the workspace",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "connections"
                ],
                "summary": "Transfer connection ownership",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Connection ID",
                        "name": "connection_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Ownership transfer parameters",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.TransferConnectionOwnershipRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connection ownership transferred successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.Connection"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid request body or new owner",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "404": {
                        "description": "Connection not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_slug}/editor": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get all editor items at the specified path in the workspace",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "editor"
                ],
                "summary": "List editor items",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "\"\"",
                        "description": "Path to list items from",
                        "name": "path",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Editor items retrieved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid query parameters",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create a new editor item or update an existing one at the specified path",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "editor"
                ],
                "summary": "Create or update editor item",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Path where to create/update the item",
                        "name": "path",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "Editor item content and type",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/irmincore.CreateEditorItemRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Editor item saved successfully",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/irminmodels.EditorItem"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid request body or path",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete an editor item or folder at the specified path",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "editor"
                ],
                "summary": "Delete editor item",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Path of the item to delete",
                        "name": "path",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Editor item deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid or missing path",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_slug}/editor/content": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the content of a specific editor item",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "editor"
                ],
                "summary": "Get editor item content",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workspace slug",
                        "name": "workspace_slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
[...]
