{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Collection of connectors for Irmin to interact with external services",
        "title": "Irmin Connectors",
        "termsOfService": "http://irmin.co/terms",
        "contact": {
            "name": "Irmin Team",
            "url": "https://irmin.co",
            "email": "hello@irmin.co"
        },
        "version": "1.0.0"
    },
    "host": "connectors.irmin.co",
    "paths": {
        "/firecrawl/configuration/validate": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Validate Firecrawl configuration by checking the API key and operation parameters",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "firecrawl"
                ],
                "summary": "Validate Firecrawl connector configuration",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Firecrawl API key",
                        "name": "details[api_key]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Operation type (scrape, crawl, map, search)",
                        "name": "details[operation_type]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Target URL (required for scrape, crawl, map)",
                        "name": "details[url]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Search query (required for search)",
                        "name": "details[query]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Output format (markdown, html, json)",
                        "name": "details[output_format]",
                        "in": "formData"
                    },
                    {
                        "type": "integer",
                        "description": "Maximum pages/results limit",
                        "name": "details[limit]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration validation result",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ConnectorConfigurationValidationResult"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/firecrawl/configuration/{key}/fields": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get dynamic configuration fields for the Firecrawl connector based on the configuration key (details or settings)",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "firecrawl"
                ],
                "summary": "Get Firecrawl connector configuration fields",
                "parameters": [
                    {
                        "enum": [
                            "details",
                            "settings"
                        ],
                        "type": "string",
                        "description": "Configuration key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration fields retrieved successfully",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/irminmodels.DynamicField"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration key",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/firecrawl/details": {
            "get": {
                "description": "Returns an HTML page with information about the Firecrawl connector",
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "firecrawl"
                ],
                "summary": "Get Firecrawl connector details page",
                "responses": {
                    "200": {
                        "description": "HTML page with connector details",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/firecrawl/info": {
            "get": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get detailed information about the Firecrawl connector including capabilities, configuration fields, and API endpoints",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "firecrawl"
                ],
                "summary": "Get Firecrawl connector information",
                "responses": {
                    "200": {
                        "description": "Firecrawl connector information retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/models.ConnectorDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/firecrawl/operation/patch": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Firecrawl connector does not support patch operations - it is read-only",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "firecrawl"
                ],
                "summary": "Firecrawl connector does not support patch operations",
                "responses": {
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "501": {
                        "description": "Not implemented - Firecrawl connector does not support patch operations",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/firecrawl/operation/pull": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Execute the configured Firecrawl operation (scrape, crawl, map, or search) and return the results as files.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "firecrawl"
                ],
                "summary": "Pull data from Firecrawl",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Optional URL to scrape (overrides configured URL for single-page scraping)",
                        "name": "path",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pulled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/firecrawl/operation/push": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Firecrawl connector does not support push operations - it is read-only",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "firecrawl"
                ],
                "summary": "Firecrawl connector does not support push operations",
                "responses": {
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "501": {
                        "description": "Not implemented - Firecrawl connector does not support push operations",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/firecrawl/operation/schema/{operation}": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get the response schema for Firecrawl operations, returning an Irmin-compatible ObjectSchema based on the configured operation type and output format",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "firecrawl"
                ],
                "summary": "Get Firecrawl operation schema",
                "parameters": [
                    {
                        "enum": [
                            "pull"
                        ],
                        "type": "string",
                        "description": "Operation type",
                        "name": "operation",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation schema retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ObjectSchema"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation type or token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/firecrawl/operation/subscribe": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Firecrawl connector does not support webhook subscriptions",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "firecrawl"
                ],
                "summary": "Firecrawl connector does not support webhook subscriptions",
                "responses": {
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "501": {
                        "description": "Not implemented - Firecrawl connector does not support webhook subscriptions",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/firecrawl/operation/unsubscribe": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Firecrawl connector does not support webhook subscriptions",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "firecrawl"
                ],
                "summary": "Firecrawl connector does not support webhook subscriptions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Subscription ID",
                        "name": "subscription_id",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "501": {
                        "description": "Not implemented - Firecrawl connector does not support webhook subscriptions",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/http/configuration/validate": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Validate HTTP endpoint configuration by testing the connection to the specified URL",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "http"
                ],
                "summary": "Validate HTTP connector configuration",
                "parameters": [
                    {
                        "type": "string",
                        "description": "HTTP endpoint URL",
                        "name": "details[url]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "HTTP method (GET, POST, PUT, PATCH, DELETE)",
                        "name": "details[method]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "HTTP headers as JSON object",
                        "name": "details[headers]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Request body content",
                        "name": "details[body]",
                        "in": "formData"
                    },
                    {
                        "type": "integer",
                        "description": "Request timeout in seconds (default: 30)",
                        "name": "details[timeout]",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Verify SSL certificates (default: true)",
                        "name": "details[verify_ssl]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration validation result",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ConnectorConfigurationValidationResult"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/http/configuration/{key}/fields": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get dynamic configuration fields for the HTTP connector based on the configuration key (details or settings)",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "http"
                ],
                "summary": "Get HTTP connector configuration fields",
                "parameters": [
                    {
                        "enum": [
                            "details",
                            "settings"
                        ],
                        "type": "string",
                        "description": "Configuration key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration fields retrieved successfully",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/irminmodels.DynamicField"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration key",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/http/details": {
            "get": {
                "description": "Get an HTML page with detailed information about the HTTP connector including capabilities, authentication methods, and usage examples",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "http"
                ],
                "summary": "Get HTTP connector details page",
                "responses": {
                    "200": {
                        "description": "HTTP connector details page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/http/info": {
            "get": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get detailed information about the HTTP connector including capabilities, configuration fields, and API endpoints",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "http"
                ],
                "summary": "Get HTTP connector information",
                "responses": {
                    "200": {
                        "description": "HTTP connector information retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/models.ConnectorDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/http/operation/patch": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Apply JSON Patch operations by making HTTP requests to the configured endpoint. Each patch operation becomes an HTTP request.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "http"
                ],
                "summary": "Apply patch operations via HTTP requests",
                "parameters": [
                    {
                        "type": "file",
                        "description": "JSON file containing array of patch operations",
                        "name": "patches",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Patch operations applied successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid patch format",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/http/operation/pull": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Make a request to the configured HTTP endpoint and return the response as a file. Use the path parameter to modify the request URL (absolute path replaces, relative path appends).",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "http"
                ],
                "summary": "Pull data from HTTP endpoint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Path to append/replace in the request URL (e.g., /api/users or customers)",
                        "name": "path",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pulled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "HTTP endpoint not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/http/operation/push": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Send file content to the configured HTTP endpoint using the specified method and headers. Use the path parameter to modify the request URL (absolute path replaces, relative path appends).",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "http"
                ],
                "summary": "Push data to HTTP endpoint",
                "parameters": [
                    {
                        "type": "file",
                        "description": "File to send to HTTP endpoint",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Path to append/replace in the request URL (e.g., /api/users or customers)",
                        "name": "path",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pushed successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or file",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/http/operation/schema/{operation}": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get the response schema for HTTP operations, returning an Irmin-compatible ObjectSchema based on the operation type (pull or push). Use the path query parameter to specify which API endpoint or resource to analyze.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "http"
                ],
                "summary": "Get HTTP operation schema",
                "parameters": [
                    {
                        "enum": [
                            "pull",
                            "push"
                        ],
                        "type": "string",
                        "description": "Operation type",
                        "name": "operation",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "API endpoint or resource path to get schema for (e.g., /api/users or /data.json)",
                        "name": "path",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation schema retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ObjectSchema"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation type or token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/http/operation/subscribe": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "HTTP connector does not support webhook subscriptions",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "http"
                ],
                "summary": "HTTP connector does not support webhook subscriptions",
                "responses": {
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "501": {
                        "description": "Not implemented - HTTP connector does not support webhook subscriptions",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/http/operation/unsubscribe": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "HTTP connector does not support webhook subscriptions",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "http"
                ],
                "summary": "HTTP connector does not support webhook subscriptions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Subscription ID",
                        "name": "subscription_id",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "501": {
                        "description": "Not implemented - HTTP connector does not support webhook subscriptions",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/configuration/validate": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Validate MySQL connection details and settings by testing the actual connection to the MySQL server and specified database",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Validate MySQL connector configuration",
                "parameters": [
                    {
                        "type": "string",
                        "description": "MySQL server hostname or IP address",
                        "name": "details[host]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "MySQL server port (default: 3306)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username for MySQL authentication",
                        "name": "details[username]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Password for MySQL authentication",
                        "name": "details[password]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Default database for initial connection",
                        "name": "details[default_db]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Target database name to validate connection (optional for details-only validation)",
                        "name": "settings[database]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration validation result",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ConnectorConfigurationValidationResult"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/configuration/{key}/fields": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get dynamic configuration fields for the MySQL connector based on the configuration key (details or settings). For settings, dynamically fetches available databases from the MySQL server.",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Get MySQL connector configuration fields",
                "parameters": [
                    {
                        "enum": [
                            "details",
                            "settings"
                        ],
                        "type": "string",
                        "description": "Configuration key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "MySQL server hostname (required for settings key to fetch databases)",
                        "name": "details[host]",
                        "in": "formData"
                    },
                    {
                        "type": "integer",
                        "description": "MySQL server port (required for settings key to fetch databases)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username (required for settings key to fetch databases)",
                        "name": "details[username]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Password (required for settings key to fetch databases)",
                        "name": "details[password]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Default database (required for settings key to fetch databases)",
                        "name": "details[default_db]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration fields retrieved successfully",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/irminmodels.DynamicField"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration key or missing connection details",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/details": {
            "get": {
                "description": "Get an HTML page with detailed information about the MySQL connector including capabilities, authentication methods, and usage examples",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Get MySQL connector details page",
                "responses": {
                    "200": {
                        "description": "MySQL connector details page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/info": {
            "get": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get detailed information about the MySQL connector including capabilities, configuration fields, and API endpoints",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Get MySQL connector information",
                "responses": {
                    "200": {
                        "description": "MySQL connector information retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/models.ConnectorDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/patch": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Apply granular updates to MySQL database records using JSON patch operations",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Patch data in MySQL database",
                "parameters": [
                    {
                        "type": "file",
                        "description": "JSON patch file containing update operations",
                        "name": "patch",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Patch job accepted; poll /operation/status/:job_id",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.StartOperationJobResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or patch format",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "409": {
                        "description": "Operation already running",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.AlreadyRunningBody"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.JobErrorBody"
                        }
                    }
                }
            }
        },
        "/mysql/operation/pull": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Extract data from MySQL database tables using the operation token and specified path (table name)",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Pull data from MySQL database",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Table name to extract data from",
                        "name": "path",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pulled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or table name",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Table not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/push": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Insert data into MySQL database tables using the operation token and JSON file containing table data. Use the path parameter to specify a target table name.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Push data to MySQL database",
                "parameters": [
                    {
                        "type": "file",
                        "description": "JSON file containing table data to insert",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Target table name (e.g., customers). If not specified, uses the filename from the uploaded file",
                        "name": "path",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Push job accepted; poll /operation/status/:job_id",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.StartOperationJobResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or file format",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "409": {
                        "description": "Operation already running",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.AlreadyRunningBody"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.JobErrorBody"
                        }
                    }
                }
            }
        },
        "/mysql/operation/schema/{operation}": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get the database schema for MySQL operations, returning an Irmin-compatible ObjectSchema grouping each table as a JSON array based on the operation type (pull or push). Use the path query parameter to specify which database to analyze.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Get MySQL operation schema",
                "parameters": [
                    {
                        "enum": [
                            "pull",
                            "push"
                        ],
                        "type": "string",
                        "description": "Operation type",
                        "name": "operation",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Database name to get schema for (e.g., my_database)",
                        "name": "path",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation schema retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ObjectSchema"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation type or token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/subscribe": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Set up real-time monitoring of MySQL database changes using binary log tracking and webhook notifications",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Subscribe to MySQL database changes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Webhook URL to receive change notifications",
                        "name": "webhook_url",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Access token for webhook authentication",
                        "name": "webhook_access_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription created successfully",
                        "schema": {
                            "$ref": "#/definitions/db.Subscription"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/unsubscribe": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Stop monitoring MySQL database changes and remove the subscription",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Unsubscribe from MySQL database changes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID of the subscription to remove",
                        "name": "subscription_id",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription removed successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "403": {
                        "description": "Forbidden - subscription does not belong to this operation",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Subscription not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/pinecone/configuration/validate": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Validate Pinecone connection details and settings by testing the actual connection to the Pinecone index",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "pinecone"
                ],
                "summary": "Validate Pinecone connector configuration",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Pinecone API key",
                        "name": "details[api_key]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Pinecone index host URL (optional for details-only validation)",
                        "name": "settings[host]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Target namespace within the index",
                        "name": "settings[namespace]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration validation result",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ConnectorConfigurationValidationResult"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/pinecone/configuration/{key}/fields": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get dynamic configuration fields for the Pinecone connector based on the configuration key (details or settings)",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "pinecone"
                ],
                "summary": "Get Pinecone connector configuration fields",
                "parameters": [
                    {
                        "enum": [
                            "details",
                            "settings"
                        ],
                        "type": "string",
                        "description": "Configuration key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration fields retrieved successfully",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/irminmodels.DynamicField"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration key",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/pinecone/details": {
            "get": {
                "description": "Get an HTML page with detailed information about the Pinecone connector including capabilities, authentication methods, and usage examples",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "pinecone"
                ],
                "summary": "Get Pinecone connector details page",
                "responses": {
                    "200": {
                        "description": "Pinecone connector details page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/pinecone/info": {
            "get": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get detailed information about the Pinecone connector including capabilities, configuration fields, and API endpoints",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "pinecone"
                ],
                "summary": "Get Pinecone connector information",
                "responses": {
                    "200": {
                        "description": "Pinecone connector information retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/models.ConnectorDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/pinecone/operation/patch": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Apply JSON Patch operations to vectors in the Pinecone index. Supports add (upsert), remove (delete), and replace (upsert) operations.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "pinecone"
                ],
                "summary": "Apply patch operations to Pinecone vectors",
                "parameters": [
                    {
                        "type": "file",
                        "description": "JSON file containing array of patch operations",
                        "name": "patches",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Patch operations applied successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid patch format",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/pinecone/operation/pull": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Pull vectors from Pinecone. If path is provided, performs a semantic search and returns JSON results. If path is empty, exports all vectors as a parquet file.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "pinecone"
                ],
                "summary": "Pull data from Pinecone",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Query vector as JSON array for search, or empty for full export",
                        "name": "path",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pulled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/pinecone/operation/push": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Push embedding vectors from parquet files to Pinecone index",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "pinecone"
                ],
                "summary": "Push data to Pinecone",
                "parameters": [
                    {
                        "type": "file",
                        "description": "ZIP file containing parquet embedding files",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Target path (not used for Pinecone)",
                        "name": "path",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Push job accepted; poll /operation/status/:job_id",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.StartOperationJobResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or file format",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "409": {
                        "description": "Operation already running",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.AlreadyRunningBody"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.JobErrorBody"
                        }
                    }
                }
            }
        },
        "/pinecone/operation/schema/{operation}": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get the schema for Pinecone operations, returning an Irmin-compatible ObjectSchema",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "pinecone"
                ],
                "summary": "Get Pinecone operation schema",
                "parameters": [
                    {
                        "enum": [
                            "pull",
                            "push"
                        ],
                        "type": "string",
                        "description": "Operation type",
                        "name": "operation",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation schema retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ObjectSchema"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation type or token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/configuration/validate": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Validate PostgreSQL connection details and settings by testing the actual connection to the PostgreSQL server and specified database",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Validate PostgreSQL connector configuration",
                "parameters": [
                    {
                        "type": "string",
                        "description": "PostgreSQL server hostname or IP address",
                        "name": "details[host]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "PostgreSQL server port (default: 5432)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username for PostgreSQL authentication",
                        "name": "details[username]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Password for PostgreSQL authentication",
                        "name": "details[password]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Default database for initial connection",
                        "name": "details[default_db]",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable SSL mode for secure connections",
                        "name": "details[ssl_mode]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Channel binding mode for SCRAM authentication (disable, prefer, require)",
                        "name": "details[channel_binding]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Target database name to validate connection (optional for details-only validation)",
                        "name": "settings[database]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration validation result",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ConnectorConfigurationValidationResult"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/configuration/{key}/fields": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get dynamic configuration fields for the PostgreSQL connector based on the configuration key (details or settings). For settings, dynamically fetches available databases from the PostgreSQL server.",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Get PostgreSQL connector configuration fields",
                "parameters": [
                    {
                        "enum": [
                            "details",
                            "settings"
                        ],
                        "type": "string",
                        "description": "Configuration key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "PostgreSQL server hostname (required for settings key to fetch databases)",
                        "name": "details[host]",
                        "in": "formData"
                    },
                    {
                        "type": "integer",
                        "description": "PostgreSQL server port (required for settings key to fetch databases)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username (required for settings key to fetch databases)",
                        "name": "details[username]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Password (required for settings key to fetch databases)",
                        "name": "details[password]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Default database (required for settings key to fetch databases)",
                        "name": "details[default_db]",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "SSL mode enabled (required for settings key to fetch databases)",
                        "name": "details[ssl_mode]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Channel binding mode for SCRAM authentication (disable, prefer, require)",
                        "name": "details[channel_binding]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration fields retrieved successfully",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/irminmodels.DynamicField"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration key or missing connection details",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/details": {
            "get": {
                "description": "Get an HTML page with detailed information about the PostgreSQL connector including capabilities, authentication methods, and usage examples",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Get PostgreSQL connector details page",
                "responses": {
                    "200": {
                        "description": "PostgreSQL connector details page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/info": {
            "get": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get detailed information about the PostgreSQL connector including capabilities, configuration fields, and API endpoints",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Get PostgreSQL connector information",
                "responses": {
                    "200": {
                        "description": "PostgreSQL connector information retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/models.ConnectorDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/operation/patch": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Apply granular updates to PostgreSQL database records using JSON patch operations",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Patch data in PostgreSQL database",
                "parameters": [
                    {
                        "type": "file",
                        "description": "JSON patch file containing update operations",
                        "name": "patch",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Patch job accepted; poll /operation/status/:job_id",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.StartOperationJobResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or patch format",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "409": {
                        "description": "Operation already running",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.AlreadyRunningBody"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.JobErrorBody"
                        }
                    }
                }
            }
        },
        "/postgres/operation/pull": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Extract data from PostgreSQL database tables using the operation token and specified path (table name)",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Pull data from PostgreSQL database",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Table name to extract data from",
                        "name": "path",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pulled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or table name",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Table not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
[...]
