{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Collection of connectors for Irmin to interact with external services",
        "title": "Irmin Connectors",
        "termsOfService": "http://irmin.co/terms",
        "contact": {
            "name": "Irmin Team",
            "url": "https://irmin.co",
            "email": "hello@irmin.co"
        },
        "version": "1.0.0"
    },
    "host": "connectors.irmin.co",
    "paths": {
        "/mysql/configuration/validate": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Validate MySQL connection details and settings by testing the actual connection to the MySQL server and specified database",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Validate MySQL connector configuration",
                "parameters": [
                    {
                        "type": "string",
                        "description": "MySQL server hostname or IP address",
                        "name": "details[host]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "MySQL server port (default: 3306)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username for MySQL authentication",
                        "name": "details[user]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Password for MySQL authentication",
                        "name": "details[password]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Default database for initial connection",
                        "name": "details[default_db]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Target database name to validate connection",
                        "name": "settings[database]",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration validation result",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ConnectorConfigurationValidationResult"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/configuration/{key}/fields": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get dynamic configuration fields for the MySQL connector based on the configuration key (details or settings). For settings, dynamically fetches available databases from the MySQL server.",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Get MySQL connector configuration fields",
                "parameters": [
                    {
                        "enum": [
                            "details",
                            "settings"
                        ],
                        "type": "string",
                        "description": "Configuration key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "MySQL server hostname (required for settings key to fetch databases)",
                        "name": "details[host]",
                        "in": "formData"
                    },
                    {
                        "type": "integer",
                        "description": "MySQL server port (required for settings key to fetch databases)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username (required for settings key to fetch databases)",
                        "name": "details[user]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Password (required for settings key to fetch databases)",
                        "name": "details[password]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Default database (required for settings key to fetch databases)",
                        "name": "details[default_db]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration fields retrieved successfully",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/irminmodels.DynamicField"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration key or missing connection details",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/details": {
            "get": {
                "description": "Get an HTML page with detailed information about the MySQL connector including capabilities, authentication methods, and usage examples",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Get MySQL connector details page",
                "responses": {
                    "200": {
                        "description": "MySQL connector details page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/info": {
            "get": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get detailed information about the MySQL connector including capabilities, configuration fields, and API endpoints",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Get MySQL connector information",
                "responses": {
                    "200": {
                        "description": "MySQL connector information retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/models.ConnectorDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/cancel": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Cancel an ongoing MySQL operation using the operation token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Cancel MySQL operation",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation cancelled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/init": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Initialize a new MySQL operation with connection details and settings, returning an operation token for subsequent requests",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Initialize MySQL operation",
                "parameters": [
                    {
                        "type": "string",
                        "description": "MySQL server hostname or IP address",
                        "name": "details[host]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "MySQL server port (default: 3306)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username for MySQL authentication",
                        "name": "details[user]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Password for MySQL authentication",
                        "name": "details[password]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Default database for initial connection",
                        "name": "details[default_db]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Target database name for operations",
                        "name": "settings[database]",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation initialized successfully with operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/patch": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Apply granular updates to MySQL database records using JSON patch operations",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Patch data in MySQL database",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "JSON patch file containing update operations",
                        "name": "patch",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data patched successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or patch format",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/pull": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Extract data from MySQL database tables using the operation token and specified path (table name)",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Pull data from MySQL database",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Table name to extract data from",
                        "name": "path",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pulled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or table name",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Table not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/push": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Insert data into MySQL database tables using the operation token and JSON file containing table data",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Push data to MySQL database",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "JSON file containing table data to insert",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pushed successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or file format",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/schema/{operation}": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get the database schema for MySQL operations, returning an Irmin-compatible ObjectSchema grouping each table as a JSON array based on the operation type (pull or push)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Get MySQL operation schema",
                "parameters": [
                    {
                        "enum": [
                            "pull",
                            "push"
                        ],
                        "type": "string",
                        "description": "Operation type",
                        "name": "operation",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation schema retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ObjectSchema"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation type or token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/status": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get the current status of a MySQL operation using the operation token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Get MySQL operation status",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation status retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/irminconnectorclient.OperationStatus"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/mysql/operation/subscribe": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Set up real-time monitoring of MySQL database changes using binary log tracking and webhook notifications",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mysql"
                ],
                "summary": "Subscribe to MySQL database changes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Webhook URL to receive change notifications",
                        "name": "webhook_url",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Access token for webhook authentication",
                        "name": "webhook_access_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription created successfully",
                        "schema": {
                            "$ref": "#/definitions/db.Subscription"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/configuration/validate": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Validate PostgreSQL connection details and settings by testing the actual connection to the PostgreSQL server and specified database",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Validate PostgreSQL connector configuration",
                "parameters": [
                    {
                        "type": "string",
                        "description": "PostgreSQL server hostname or IP address",
                        "name": "details[host]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "PostgreSQL server port (default: 5432)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username for PostgreSQL authentication",
                        "name": "details[user]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Password for PostgreSQL authentication",
                        "name": "details[password]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Default database for initial connection",
                        "name": "details[default_db]",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable SSL mode for secure connections",
                        "name": "details[ssl_mode]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Target database name to validate connection",
                        "name": "settings[database]",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration validation result",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ConnectorConfigurationValidationResult"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/configuration/{key}/fields": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get dynamic configuration fields for the PostgreSQL connector based on the configuration key (details or settings). For settings, dynamically fetches available databases from the PostgreSQL server.",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Get PostgreSQL connector configuration fields",
                "parameters": [
                    {
                        "enum": [
                            "details",
                            "settings"
                        ],
                        "type": "string",
                        "description": "Configuration key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "PostgreSQL server hostname (required for settings key to fetch databases)",
                        "name": "details[host]",
                        "in": "formData"
                    },
                    {
                        "type": "integer",
                        "description": "PostgreSQL server port (required for settings key to fetch databases)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username (required for settings key to fetch databases)",
                        "name": "details[user]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Password (required for settings key to fetch databases)",
                        "name": "details[password]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Default database (required for settings key to fetch databases)",
                        "name": "details[default_db]",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "SSL mode enabled (required for settings key to fetch databases)",
                        "name": "details[ssl_mode]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration fields retrieved successfully",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/irminmodels.DynamicField"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration key or missing connection details",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/details": {
            "get": {
                "description": "Get an HTML page with detailed information about the PostgreSQL connector including capabilities, authentication methods, and usage examples",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Get PostgreSQL connector details page",
                "responses": {
                    "200": {
                        "description": "PostgreSQL connector details page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/info": {
            "get": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get detailed information about the PostgreSQL connector including capabilities, configuration fields, and API endpoints",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Get PostgreSQL connector information",
                "responses": {
                    "200": {
                        "description": "PostgreSQL connector information retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/models.ConnectorDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/operation/cancel": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Cancel an ongoing PostgreSQL operation using the operation token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Cancel PostgreSQL operation",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation cancelled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/operation/init": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Initialize a new PostgreSQL operation with connection details and settings, returning an operation token for subsequent requests",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Initialize PostgreSQL operation",
                "parameters": [
                    {
                        "type": "string",
                        "description": "PostgreSQL server hostname or IP address",
                        "name": "details[host]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "PostgreSQL server port (default: 5432)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username for PostgreSQL authentication",
                        "name": "details[user]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Password for PostgreSQL authentication",
                        "name": "details[password]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Default database for initial connection",
                        "name": "details[default_db]",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable SSL mode for secure connections",
                        "name": "details[ssl_mode]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Target database name for operations",
                        "name": "settings[database]",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation initialized successfully with operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/operation/patch": {
            "post": {
                "security": [
                    {
                        "OperationTokenAuth": []
                    }
                ],
                "description": "Apply granular updates to PostgreSQL database records using JSON patch operations",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Patch data in PostgreSQL database",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "JSON patch file containing update operations",
                        "name": "patch",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data patched successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or patch format",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/operation/pull": {
            "post": {
                "security": [
                    {
                        "OperationTokenAuth": []
                    }
                ],
                "description": "Extract data from PostgreSQL database tables using the operation token and specified path (table name)",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Pull data from PostgreSQL database",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Table name to extract data from",
                        "name": "path",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pulled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or table name",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Table not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/operation/push": {
            "post": {
                "security": [
                    {
                        "OperationTokenAuth": []
                    }
                ],
                "description": "Insert data into PostgreSQL database tables using the operation token and JSON file containing table data",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Push data to PostgreSQL database",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "JSON file containing table data to insert",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pushed successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or file format",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/operation/schema/{operation}": {
            "post": {
                "security": [
                    {
                        "OperationTokenAuth": []
                    }
                ],
                "description": "Get the database schema for PostgreSQL operations, returning an Irmin-compatible ObjectSchema grouping each table as a JSON array based on the operation type (pull or push)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Get PostgreSQL operation schema",
                "parameters": [
                    {
                        "enum": [
                            "pull",
                            "push"
                        ],
                        "type": "string",
                        "description": "Operation type",
                        "name": "operation",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation schema retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ObjectSchema"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation type or token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/operation/status": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get the current status of a PostgreSQL operation using the operation token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Get PostgreSQL operation status",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation status retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/irminconnectorclient.OperationStatus"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/postgres/operation/subscribe": {
            "post": {
                "security": [
                    {
                        "OperationTokenAuth": []
                    }
                ],
                "description": "Set up real-time monitoring of PostgreSQL database changes using notification triggers and webhook notifications",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "postgres"
                ],
                "summary": "Subscribe to PostgreSQL database changes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Webhook URL to receive change notifications",
                        "name": "webhook_url",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Access token for webhook authentication",
                        "name": "webhook_access_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription created successfully",
                        "schema": {
                            "$ref": "#/definitions/db.Subscription"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/configuration/validate": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Validate SFTP connection settings and credentials by testing the actual connection",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Validate SFTP connector configuration",
                "parameters": [
                    {
                        "type": "string",
                        "description": "SFTP server hostname or IP address",
                        "name": "details[host]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "SFTP server port (default: 22)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username for SFTP authentication",
                        "name": "details[username]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Password for SFTP authentication (if not using private key)",
                        "name": "details[password]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Private key for SFTP authentication (if not using password)",
                        "name": "details[private_key]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Passphrase for encrypted private key",
                        "name": "details[private_key_passphrase]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Expected host key fingerprint for security verification",
                        "name": "details[host_key_fingerprint]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration validation result",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ConnectorConfigurationValidationResult"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/configuration/{key}/fields": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get dynamic configuration fields for the SFTP connector based on the configuration key (details or settings)",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Get SFTP connector configuration fields",
                "parameters": [
                    {
                        "enum": [
                            "details",
                            "settings"
                        ],
                        "type": "string",
                        "description": "Configuration key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration fields retrieved successfully",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/irminmodels.DynamicField"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid configuration key",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/details": {
            "get": {
                "description": "Get an HTML page with detailed information about the SFTP connector including capabilities, authentication methods, and usage examples",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Get SFTP connector details page",
                "responses": {
                    "200": {
                        "description": "SFTP connector details page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/info": {
            "get": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get detailed information about the SFTP connector including capabilities, configuration fields, and API endpoints",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Get SFTP connector information",
                "responses": {
                    "200": {
                        "description": "SFTP connector information retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/models.ConnectorDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/operation/cancel": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Cancel an ongoing SFTP operation using the operation token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Cancel SFTP operation",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation cancelled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/operation/init": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Initialize a new SFTP operation with connection details and settings, returning an operation token for subsequent requests",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Initialize SFTP operation",
                "parameters": [
                    {
                        "type": "string",
                        "description": "SFTP server hostname or IP address",
                        "name": "details[host]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "SFTP server port (default: 22)",
                        "name": "details[port]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Username for SFTP authentication",
                        "name": "details[username]",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Password for SFTP authentication (if not using private key)",
                        "name": "details[password]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Private key for SFTP authentication (if not using password)",
                        "name": "details[private_key]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Passphrase for encrypted private key",
                        "name": "details[private_key_passphrase]",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Expected host key fingerprint for security verification",
                        "name": "details[host_key_fingerprint]",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation initialized successfully with operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation data",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/operation/patch": {
            "post": {
                "security": [
                    {
                        "OperationTokenAuth": []
                    }
                ],
                "description": "SFTP connector does not support patch operations as SFTP files are replaced entirely rather than patched with JSON updates",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Patch operation (not supported)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "Patch file (not supported for SFTP)",
                        "name": "patch",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "501": {
                        "description": "Not implemented - SFTP does not support patch operations",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/operation/pull": {
            "post": {
                "security": [
                    {
                        "OperationTokenAuth": []
                    }
                ],
                "description": "Download files from an SFTP server using the operation token and specified path",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Pull files from SFTP server",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Path to file or directory on SFTP server to download",
                        "name": "path",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Files pulled successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or path",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "File or directory not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/operation/push": {
            "post": {
                "security": [
                    {
                        "OperationTokenAuth": []
                    }
                ],
                "description": "Upload files to an SFTP server using the operation token and file data",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Push files to SFTP server",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "File to upload to SFTP server",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Target path on SFTP server (defaults to root directory)",
                        "name": "path",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File uploaded successfully",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token or file",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/operation/schema/{operation}": {
            "post": {
                "security": [
                    {
                        "OperationTokenAuth": []
                    }
                ],
                "description": "Get the schema and directory structure for SFTP file operations based on the operation type (pull or push)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Get SFTP operation schema",
                "parameters": [
                    {
                        "enum": [
                            "pull",
                            "push"
                        ],
                        "type": "string",
                        "description": "Operation type",
                        "name": "operation",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation schema retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.ObjectSchema"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation type or token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/operation/status": {
            "post": {
                "security": [
                    {
                        "SystemTokenAuth": []
                    }
                ],
                "description": "Get the current status of an SFTP operation using the operation token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Get SFTP operation status",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation status retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/irminconnectorclient.OperationStatus"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid operation token",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "404": {
                        "description": "Operation not found",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/sftp/operation/subscribe": {
            "post": {
                "security": [
                    {
                        "OperationTokenAuth": []
                    }
                ],
                "description": "SFTP connector does not support real-time subscriptions as SFTP is a file transfer protocol without webhook capabilities",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sftp"
                ],
                "summary": "Subscribe to changes (not supported)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Operation token received from operation/init",
                        "name": "operation_token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Webhook URL (not supported for SFTP)",
                        "name": "webhook",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized - invalid or missing authentication",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    },
                    "501": {
                        "description": "Not implemented - SFTP does not support subscriptions",
                        "schema": {
                            "$ref": "#/definitions/fiber.Map"
                        }
                    }
                }
            }
        },
        "/swagger": {
            "get": {
                "description": "Interactive API documentation interface using Swagger UI",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "documentation"
                ],
                "summary": "Swagger UI interface",
                "responses": {
                    "200": {
                        "description": "Swagger UI HTML page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        },
        "/swagger.json": {
            "get": {
                "description": "Retrieve the OpenAPI 3.0 specification in JSON format for this API",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "documentation"
                ],
                "summary": "Get Swagger JSON specification",
                "responses": {
                    "200": {
                        "description": "OpenAPI 3.0 specification in JSON format",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "404": {
                        "description": "Swagger specification file not found",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/irminmodels.IrminAPIResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "db.ConnectorRegistration": {
            "type": "object",
            "properties": {
                "connectorName": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "deletedAt": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "id": {
                    "type": "integer"
                },
                "irminID": {
                    "type": "string"
                },
                "systemToken": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "db.Operation": {
            "type": "object",
            "properties": {
                "connectorRegistration": {
                    "$ref": "#/definitions/db.ConnectorRegistration"
                },
                "connectorRegistrationID": {
                    "type": "integer"
                },
                "createdAt": {
                    "type": "string"
                },
                "deletedAt": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "details": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "id": {
                    "type": "integer"
                },
                "settings": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "token": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "db.Subscription": {
            "type": "object",
            "properties": {
                "connectorRegistration": {
                    "$ref": "#/definitions/db.ConnectorRegistration"
                },
                "connectorRegistrationID": {
                    "type": "integer"
                },
                "createdAt": {
                    "type": "string"
                },
                "deletedAt": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "id": {
                    "type": "integer"
                },
                "operation": {
                    "$ref": "#/definitions/db.Operation"
                },
                "operationID": {
                    "type": "integer"
                },
                "updatedAt": {
                    "type": "string"
                },
                "webhookAccessToken": {
                    "type": "string"
                },
                "webhookUrl": {
                    "type": "string"
                }
            }
        },
        "fiber.Map": {
            "type": "object",
            "additionalProperties": {}
        },
[...]
